.mdl-textfield__input {
  font-family: "Roboto", "Helvetica", sans-serif;
}

#checkout {
  background: #f2f2f2 !important;

  .mdl-chip {
    padding-top: 1rem;
    background: transparent;
    font-weight: bold;
    text-transform: uppercase;
    &.title {
      &-out-container {
        margin-left: 18px;
        @media (min-width: 839px) {
          margin-left: -12px;
        }
      }
      &-in-container {
        @media (min-width: 839px) {
          margin-left: -22px;
        }
      }
    }
    // margin-left: -30px;
    // :first-child {
    //   margin-left: 20px;
    //   @media (max-width: 839px) {
    //     margin-left: 20px;
    //   }
    // }

    &__contact {
      height: 22px;
      width: 22px;
      font-size: 14px;
      line-height: 22px;
    }
    &__text {
      font-size: 13px;
      font-weight: 900;
    }
    .material-icons {
      font-size: 15px;
      color: #484848;
      padding: 0 10px;
    }
  }

  .mdl-textfield {
    background: white;
    border-radius: 2.5px;
    padding: 1.5rem 0.5rem 0.5rem;
    box-shadow: 0px 2px #dcdcdc;
    width: 100%;

    &__input {
      border-bottom: none;
    }

    &--floating-label .mdl-textfield__label {
      font-weight: bold;
      left: 7px;
    }

    &__label:after {
      bottom: 7px;
    }

    &.mdl-textfield.is-focused .mdl-textfield__label:after {
      width: 95%;
    }

    .icon-right {
      right: 12px;
      left: auto;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0.25;
    }

    &__error {
      background: white;
      width: calc(100% - 7px);
      border-radius: 5px;
      margin-left: -7px;
      padding-left: 7px;
      box-shadow: 0 2px #dcdcdc;
      z-index: 1;
    }

    .flag-credit-card {
      opacity: 1;
      width: 55px;
      height: 55px;
      background-repeat: no-repeat;
      background-position: center;
      &.visa {
        background-image: url(/images/card-visa.svg);
      }
      &.master {
        background-image: url(/images/card-master.svg);
      }
    }
  }

  .complete-purchase {
    margin-top: 1rem;
    width: 100%;
    font-weight: bold;
    padding: 5px 0;
    height: auto;
    .material-icons {
      font-size: 17px;
    }
  }

  .order {
    @media (max-width: 839px) {
      padding: 1rem;
    }
    &-title {
      font-weight: bold;
    }
    .wrapper {
      margin-top: 20px;
      padding: 13px;
      background: white;
      border: 1px dashed #efefef;
      border-radius: 2px;
      box-shadow: 0 0 0 4px #ffffff, 0px 2px 0px 4px #dcdcdc;
    }

    ul {
      padding: 0px 0 10px;
      border-bottom: 1px dashed #efefef;
      &:last-child {
        border-bottom: none;
      }

      .order-list-item {
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-content: start;
        span:last-child {
          text-align: right;
        }
      }
    }

    &-total {
      font-weight: bold;
      &-sum {
        font-size: 2rem;
      }
    }
  }
}

.mdl-dialog {
  @media (min-width: 839px) {
    width: 500px;
  }
}

::placeholder,
:-ms-input-placeholder {
  color: #9b9ba7;
}
